In [1]:
# Importing Spark session object
from pyspark.sql import SparkSession

In [2]:
# Creating a spark session object
spark = SparkSession. \
    builder. \
    enableHiveSupport(). \
    appName('Demo'). \
    master('yarn'). \
    getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/02/26 01:16:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
# Setting the number of shuffle partition as 2 by overriding the default
spark.conf.set('spark.sql.shuffle.partitions', '2')

### Spark Streaming reading messages from port 9100

In [4]:
# This command is run from the console where the content from the file cta_api_dump.csv is streamed to a web server on the port 9100
!sh tail_api.sh|nc -lk `hostname -f` 9100

sh: 0: Can't open tail_api.sh
^C

In [5]:
# Importing the required libraries such as socket
import socket
hostname = socket.gethostname()
hostname

'bigdata-project'

In [6]:
# Creating a read stream by reading the messages from port 9101
api_messages = spark. \
    readStream. \
    format("socket"). \
    option("host", hostname). \
    option("port", 9100). \
    load()

24/02/26 01:17:50 WARN TextSocketSourceProvider: The socket source should not be used for production applications! It does not support recovery.

In [7]:
api_messages.isStreaming

True

In [8]:
api_messages.printSchema()

root
 |-- value: string (nullable = true)

In [9]:
# Starting a write stream object by reading from api_messages every 10 seconds using append mode
api_messages. \
    writeStream. \
    outputMode("append"). \
    format("console"). \
    option('truncate', 'false'). \
    trigger(processingTime='10 seconds'). \
    start()

24/02/26 01:17:59 WARN ResolveWriteToStream: Temporary checkpoint location created which is deleted normally when the query didn't fail: /tmp/temporary-82610cac-94bb-4e1f-887b-f3ee3e278837. If it's required to delete it under any circumstances, please set spark.sql.streaming.forceDeleteTempCheckpointLocation to true. Important to know deleting temp checkpoint folder is best effort.
24/02/26 01:17:59 WARN ResolveWriteToStream: spark.sql.adaptive.enabled is not supported in streaming DataFrames/Datasets and will be disabled.

-------------------------------------------
Batch: 0
-------------------------------------------
+-----+
|value|
+-----+
+-----+

-------------------------------------------
Batch: 1
-------------------------------------------
+---------------------------------------------------------------------------------------------------------------------------------------+
|value                                                                                                                                  |
+---------------------------------------------------------------------------------------------------------------------------------------+
|red,811,30173,Howard,40190,Sox-35th,2024-02-25T19:13:10,2024-02-25T19:15:10,0,41.81036,-87.63101                                       |
|red,813,30089,95th/Dan Ryan,41220,Fullerton,2024-02-25T19:13:46,2024-02-25T19:14:46,0,41.92916,-87.65298                               |
|red,815,30173,Howard,40540,Wilson,2024-02-25T19:13:53,2024-02-25T19:15:53,0,41.96427,-87.65759                                         |
|red,907,30089,95th/Dan Ryan,41660,Lake,2024-02-25T19:13:22,2024-02-25T19:14:22,0,41.88709,-87.62789                                    |
|red,912,30173,Howard,41420,Addison,2024-02-25T19:13:38,2024-02-25T19:15:38,0,41.93975,-87.65338                                        |
|pink,308,30114,54th/Cermak,40850,Harold Washington Library-State/Van Buren,2024-02-25T19:13:48,2024-02-25T19:14:48,0,41.87652,-87.62601|
|pink,312,30114,Loop,40740,Western,2024-02-25T19:13:41,2024-02-25T19:14:41,0,41.85428,-87.69478                                         |
|g,008,30004,Harlem/Lake,41700,Washington/Wabash,2024-02-25T19:14:06,2024-02-25T19:15:06,0,41.8795,-87.6261                             |
|g,013,30004,Harlem/Lake,40610,Ridgeland,2024-02-25T19:14:12,2024-02-25T19:15:12,0,41.88723,-87.77906                                   |
|g,609,30004,Harlem/Lake,40940,Halsted,2024-02-25T19:13:59,2024-02-25T19:14:59,0,41.77915,-87.65158                                     |
|g,613,30057,Ashland/63rd,41400,Roosevelt,2024-02-25T19:14:05,2024-02-25T19:15:05,0,41.87223,-87.62676                                  |
|g,615,30139,Cottage Grove,40260,State/Lake,2024-02-25T19:14:02,2024-02-25T19:15:02,0,41.88574,-87.63089                                |
|org,710,30182,Midway,40380,Clark/Lake,2024-02-25T19:14:17,2024-02-25T19:15:17,0,41.88504,-87.6339                                      |
|org,713,30182,Midway,41130,Halsted,2024-02-25T19:14:17,2024-02-25T19:17:17,0,41.85932,-87.62644                                        |
|org,715,30182,Loop,40960,Pulaski,2024-02-25T19:14:03,2024-02-25T19:15:03,0,41.79332,-87.73801                                          |
|org,710,30182,Midway,40380,Clark/Lake,2024-02-25T19:14:32,2024-02-25T19:15:32,0,41.88573,-87.63274                                     |
|org,713,30182,Midway,41130,Halsted,2024-02-25T19:14:31,2024-02-25T19:16:31,0,41.85864,-87.62643                                        |
|org,715,30182,Loop,40960,Pulaski,2024-02-25T19:14:23,2024-02-25T19:15:23,0,41.79497,-87.73636                                          |
|org,710,30182,Midway,40380,Clark/Lake,2024-02-25T19:14:32,2024-02-25T19:15:32,0,41.88573,-87.63274                                     |
|org,713,30182,Midway,41130,Halsted,2024-02-25T19:14:31,2024-02-25T19:16:31,0,41.85864,-87.62643                                        |
+---------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [11]:
# Importing required libraries
from pyspark.sql.functions import split, count, lit
# Creating route_count dataframe that groups the data based on the route color and prints the results
route_count = api_messages. \
    select(split('value', ',')[0].alias('route_color')). \
    groupBy('route_color'). \
    agg(count(lit(1)).alias('count'))

In [12]:
# Using "complete" mode to print the resul
route_count. \
    writeStream. \
    outputMode("complete"). \
    format("console"). \
    option('truncate', 'false'). \
    trigger(processingTime='10 seconds'). \
    start()

24/02/26 01:18:15 WARN ResolveWriteToStream: Temporary checkpoint location created which is deleted normally when the query didn't fail: /tmp/temporary-57ab24c9-c167-45a5-9601-b756eeceaabf. If it's required to delete it under any circumstances, please set spark.sql.streaming.forceDeleteTempCheckpointLocation to true. Important to know deleting temp checkpoint folder is best effort.
24/02/26 01:18:15 WARN ResolveWriteToStream: spark.sql.adaptive.enabled is not supported in streaming DataFrames/Datasets and will be disabled.

-------------------------------------------
Batch: 0
-------------------------------------------
+-----------+-----+
|route_color|count|
+-----------+-----+
+-----------+-----+

-------------------------------------------
Batch: 2
-------------------------------------------
+-------------------------------------------------------------------------------------------------------------+
|value                                                                                                        |
+-------------------------------------------------------------------------------------------------------------+
|red,810,30173,Howard,41660,Lake,2024-02-25T19:17:52,2024-02-25T19:18:52,0,41.88321,-87.62775                 |
|red,812,30089,95th/Dan Ryan,40190,Sox-35th,2024-02-25T19:17:45,2024-02-25T19:18:45,0,41.84691,-87.63114      |
|red,814,30089,95th/Dan Ryan,40880,Thorndale,2024-02-25T19:17:55,2024-02-25T19:18:55,0,41.99196,-87.65912     |
|red,816,30089,95th/Dan Ryan,41420,Addison,2024-02-25T19:17:43,2024-02-25T19:18:43,0,41.952,-87.65366         |
|red,909,30173,Howard,41320,Belmont,2024-02-25T19:16:50,2024-02-25T19:19:50,0,41.92505,-87.65287              |
|red,912,30173,Howard,40540,Wilson,2024-02-25T19:17:45,2024-02-25T19:20:45,0,41.95377,-87.65493               |
|red,811,30173,Howard,41000,Cermak-Chinatown,2024-02-25T19:17:45,2024-02-25T19:18:45,0,41.84239,-87.63109     |
|red,813,30089,95th/Dan Ryan,40630,Clark/Division,2024-02-25T19:17:32,2024-02-25T19:19:32,0,41.91065,-87.64918|
|red,815,30173,Howard,40880,Thorndale,2024-02-25T19:17:23,2024-02-25T19:19:23,0,41.97345,-87.65853            |
|red,907,30089,95th/Dan Ryan,41490,Harrison,2024-02-25T19:17:33,2024-02-25T19:18:33,0,41.87815,-87.6276       |
|red,910,30173,Howard,40240,79th,2024-02-25T19:17:40,2024-02-25T19:18:40,0,41.73737,-87.6248                  |
+-------------------------------------------------------------------------------------------------------------+

-------------------------------------------
Batch: 3
-------------------------------------------
+---------------------------------------------------------------------------------------------------------+
|value                                                                                                    |
+---------------------------------------------------------------------------------------------------------+
|blue,110,30171,O'Hare,40250,Kedzie-Homan,2024-02-25T19:17:04,2024-02-25T19:19:04,0,41.87389,-87.72517    |
|blue,114,30077,Forest Park,40430,Clinton,2024-02-25T19:17:35,2024-02-25T19:19:35,0,41.87557,-87.63327    |
|blue,117,30171,O'Hare,40180,Oak Park,2024-02-25T19:17:30,2024-02-25T19:18:30,0,41.87306,-87.80251        |
|blue,213,30171,O'Hare,40820,Rosemont,2024-02-25T19:17:49,2024-02-25T19:18:49,0,41.98363,-87.85659        |
|blue,215,30171,O'Hare,41340,LaSalle,2024-02-25T19:17:49,2024-02-25T19:18:49,0,41.8756,-87.63728          |
|blue,217,30077,Forest Park,40550,Irving Park,2024-02-25T19:17:34,2024-02-25T19:19:34,0,41.96149,-87.74362|
|blue,113,30077,Forest Park,40920,Pulaski,2024-02-25T19:17:51,2024-02-25T19:19:51,0,41.87401,-87.71586    |
|blue,115,30077,Forest Park,40820,Rosemont,2024-02-25T19:17:41,2024-02-25T19:20:41,0,41.97714,-87.89023   |
|blue,210,30077,Forest Park,40590,Damen,2024-02-25T19:17:40,2024-02-25T19:18:40,0,41.91066,-87.67887      |
|blue,214,30171,O'Hare,41020,Logan Square,2024-02-25T19:17:49,2024-02-25T19:18:49,0,41.92666,-87.70448    |
|blue,216,30077,Forest Park,40010,Austin,2024-02-25T19:17:48,2024-02-25T19:18:48,0,41.87036,-87.76809     |
+---------------------------------------------------------------------------------------------------------+

-------------------------------------------
Batch: 4
-------------------------------------------
+--------------------------------------------------------------------------------------------------+
|value                                                                                             |
+--------------------------------------------------------------------------------------------------+
|org,708,30182,Midway,40930,Midway,2024-02-25T19:17:56,2024-02-25T19:18:56,0,41.79572,-87.735      |
|org,711,30182,Loop,41400,Roosevelt,2024-02-25T19:18:13,2024-02-25T19:21:13,0,41.85699,-87.63327   |
|org,714,30182,Midway,40040,Quincy,2024-02-25T19:18:17,2024-02-25T19:19:17,0,41.87697,-87.63365    |
|org,710,30182,Midway,40680,Adams/Wabash,2024-02-25T19:18:13,2024-02-25T19:19:13,0,41.8795,-87.6261|
|org,713,30182,Midway,41060,Ashland,2024-02-25T19:18:11,2024-02-25T19:19:11,0,41.84305,-87.65759   |
|org,715,30182,Loop,40310,Western,2024-02-25T19:18:14,2024-02-25T19:19:14,0,41.80444,-87.69922     |
+--------------------------------------------------------------------------------------------------+

In [ ]:
# Using "update" mode to print the results to the console
route_count. \
    writeStream. \
    outputMode("update"). \
    format("console"). \
    option('truncate', 'false'). \
    trigger(processingTime='10 seconds'). \
    start()